* {
  color: #fff;
  direction: ltr; }

.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  padding-right: 10px;
  padding-left: 10px; }
  .content-wrapper main {
    position: relative;
    top: 10px; }
    .content-wrapper main article {
      float: left;
      width: 71.9%;
      height: calc( 100vh - 198px);
      position: absolute;
      background-color: #1d3a39;
      border: 8px solid #056565; }
    .content-wrapper main aside {
      float: right;
      width: 25%;
      height: calc( 100vh - 198px);
      background: #012929;
      border: 8px solid #045252;
      padding-left: 8px; }
      .content-wrapper main aside .right-column-1 h4, .content-wrapper main aside .right-column-2 h4 {
        max-width: 100%; }
      .content-wrapper main aside .right-column-3 img {
        max-width: 100%;
        width: -webkit-fill-available;
        width: -moz-available;
        padding-right: 8px; }
  .content-wrapper footer {
    position: fixed;
    bottom: 0;
    background-color: #056565;
    width: 1280px; }

header {
  background: #012929;
  height: 100px; }

a {
  text-decoration: none; }

nav {
  margin-left: 8px;
  margin-top: 33.5px; }
  nav .mainNav li {
    margin-right: 3px; }
  nav ul {
    background: #056565;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    nav ul li {
      padding: 6px 16px; }
      nav ul li ul {
        background: #056565;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none; }
        nav ul li ul li {
          clear: both;
          width: 100%;
          border-bottom: 1px solid #fff; }
          nav ul li ul li:last-child {
            border-bottom: unset; }
  nav li {
    color: #fff;
    background: #056565;
    display: inline;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s; }
    nav li a {
      color: #fff; }
    nav li:hover {
      background: #056565;
      cursor: pointer; }

.fa {
  padding-left: 15px; }

.show {
  display: block; }

.dropdown-content {
  z-index: 1;
  width: 140px; }

.side-logo {
  position: fixed;
  left: 0;
  float: left; }

.logo {
  position: relative;
  top: 10px; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #cbcbcb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .dot:hover, .dot:active {
    background-color: #138fc7; }

.icon {
  display: none; }

@media only screen and (max-width: 768px) {
  main article {
    overflow: scroll;
    position: unset !important; }
  main .page-content, main .aside-content {
    width: 97% !important; }
  main aside {
    padding-left: unset !important; }
  .side-logo {
    display: none; }
  .mainNav {
    display: none; }
  .icon {
    display: block;
    float: right;
    margin-right: 1rem; } }
