.content-wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 1280px;
  padding-right: 10px;
  padding-left:  10px;
}

header {
  background: #012929;
}

a {
	text-decoration: none;
}
nav {
	// font-family: monospace;
}
ul {
	background: #056565;
	list-style: none;
	margin: 0;
	padding-left: 0;
	li {
		ul {
			background: #056565;
			visibility: hidden;
			opacity: 0;
			min-width: 5rem;
			position: absolute;
			transition: all 0.5s ease;
			margin-top: 1rem;
			left: 0;
			display: none;
			&:hover {
				visibility: visible;
				opacity: 1;
				display: inline;
			}
			li {
				clear: both;
				width: 100%;
			}
		}
		&:hover {
			>ul {
				visibility: visible;
				opacity: 1;
				display: inline;
			}
		}
	}
}
li {
	color: #fff;
	background: #056565;
	display: inline;
	float: left;
	padding: 16px;
	position: relative;
	text-decoration: none;
	transition-duration: 0.5s;
	a {
		color: #fff;
	}
	&:hover {
		background: #056565;
		cursor: pointer;
	}
}
