* {
  color: #fff;
}

.content-wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 1280px;
  padding-right: 10px;
  padding-left:  10px;
  main {
    position: relative;
    top: 80px;

    article {
      float: left;
      width: 70%;
      position: absolute;
      // left: calc((100vw - 1280px) / 2);
      background-color: #1d3a39;
      border: 8px solid #056565;
    }

    aside {
      float: right;
      width: 25%;
      background: #012929;
      border: 8px solid #045252;
      .right-column-1, .right-column-2 {
        h4 {
          max-width: 100%;
        }
        
      }
      .right-column-3 {
        img {
          max-width: 100%;
        }
      }
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    background-color: #056565;
    width: 1280px;
  }
}
  header {
    background: #012929;
    height: 100px;
  }

a {
	text-decoration: none;
}
nav {
  .mainNav {
    li {
      margin-right: 3px;
    }
  }
  margin-left: 8px;
  margin-top: 33.5px;
	ul {
    background: #056565;
    list-style: none;
    margin: 0;
    padding-left: 0;
    li {
      padding: 6px 16px;
      ul {
        background: #056565;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;

        li {
          clear: both;
          width: 100%;
          border-bottom: 1px solid #fff;
          &:last-child {
            border-bottom: unset;
          }
        }
      }
    }
  }
  li {
    color: #fff;
    background: #056565;
    display: inline;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    a {
      color: #fff;
    }
    &:hover {
      background: #056565;
      cursor: pointer;
    }
  }
}

.fa {
  padding-left: 15px;
}

.show {
  display: block;
}

.dropdown-content {
  z-index: 1;
  width: 140px;
}

.side-logo {
  position: fixed;
  left: 0;
  float: left;
}

.logo {
  position: relative;
  top: 10px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #cbcbcb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  &:hover, &:active {
    background-color: #138fc7;
  }
}
